* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header, #title, #info, #quote, #contact  {
    padding: 32px 96px;
}

header, footer, #title {
    background-color: #1f2937;
    color: #fff;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f9faf8;
}

.logo__text {
    font-size: 24px;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

a, p {
    text-decoration: none; 
    color: #e5e7eb;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
    transition: all 300ms ease;
}

/* Title section */

#title {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}

button {
    font-size: 18px;
    border-radius: 8px;
    padding: 3px 15px;
    margin-top: 10px;
    background-color: #3882f6;
    color: #f9faf8;
}

.title__btn{ 
    border: none;
}

.title__pic {
    width: 200px;
    height: auto;
    border-radius: 200px;
}

/* Info section */



.info__title {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 10px;
}

.info__pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pic__wrapper {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-align: center;
}

.pic {
    width: 200px;
    height: auto;
    border-radius: 50px;
}

.info__text{
    color: #1f2937;
    font-size: 15px;
}

/* Quote section */

#quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quote__text {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.quote__author {
    font-size: 20px;
    
}

/* Contact section */

#contact {
    
}

.contact__container {
    width: 100%;
    padding: 32px 64px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;

}

.contact__title {
    font-size: 20px;
}

.contact__text{
    font-size: 15px;
}

.contact__btn{
    border-color: #f9faf8;
    
}

footer {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




