* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header, footer, #title {
    background-color: #1f2937;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 32px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f9faf8;
}

.logo__text {
    font-size: 24px;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 15px;
    
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

#title {
    display: flex;
    justify-content: space-around;
    padding: 32px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

.title__pic {
    width: 300px;
    height: auto;
    border-radius: 200px;
    
}

footer {
    padding: 32px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




